
 main{
    background-color: beige;
    color: grey;
    width: 48%;
    float: left;
    margin-right: 2%;
    padding: 3%;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  body main img.art{
    width: 100%;
  }

  aside{
    padding: 3%;
    background-color: beige;
    color: grey;
    float: right;
    width: 50%;
    padding: 3%;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

  }
  body aside img.roster{
    width: 80%;
  }

  body{
    background-color: beige;
  }
  
  @media screen and (max-width: 800px){
    .main-contain aside{
        float: none;
    }
    aside{
        width: 100%;
        display: block;
        text-align: center;
    }
    aside h2{
        width: 100%;
        display: block;
    }
    ul{
        flex-direction: column;  
    }
    li{
        width: 100%;
    }
    main{
      text-align: center;
      display: block;
      width: 100%;
    }
  }
    @media screen and (max-width: 600px) {
    ul{
        flex-direction: column;  
    }
    li{
        width: 100%;
    }
    main{
      text-align: center;
      width: 100%;
    }
  }
  @media screen and (max-width: 300px){
    ul{
      background-color: lightblue;
    }
    a{
      color: black;
    }
  }