*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  div.whole{
    width: 100%;
    margin: 0 auto 0 auto;
  }
  
  header{
    color: white;
    background-color: burlywood;
    text-align: center;
    text-decoration:wavy;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  body header img.hero{
    width: 100%;
  }
  nav{
    background-color: lightcoral;
    border: 5px solid black;
    
  }
  
  ul{
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  li{
    border: 2px solid white;
    width: 15%;
    list-style: none;
    line-height: 4em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
  }
  
  
  a{
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
  }
  
 main{

    background-color: beige;
    color: grey;
    text-align: center;
    padding: 3%;
    text-decoration:underline;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
 
  
  div.email{
    
    background-color: beige;
    color: grey;
    text-decoration:underline;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 2%;
  }
  div.phone{
    padding: 2%;
    background-color: beige;
    color: grey;
    text-decoration:underline;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  div.uid{
    padding: 2%;
    background-color: beige;
    color: grey;
    text-decoration:underline;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  body{
    background-color: beige;
  }
  
  
  @media screen and (max-width: 800px){
    .main-contain aside{
        float: none;
    }
    aside{
        width: 100%;
        display: block;
    }
    aside h2{
        width: 100%;
        display: block;
    }
    ul{
        flex-direction: column;  
    }
    li{
        width: 100%;
    }
  }
    @media screen and (max-width: 600px) {
    ul{
        flex-direction: column;  
    }
    li{
        width: 100%;
    }
    main{
      text-align: center;
      width: 100%;
    }
  }

  @media screen and (max-width: 300px){
    ul{
      background-color: lightblue;
    }
    a{
      color: black;
    }
  }
